<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Aplicacion_Medidas_244">

        <!-- Activity principal (pantalla de bienvenida) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity con los 6 botones de medidas -->
        <activity
            android:name=".TomarMedidasActivity"
            android:exported="false" />

        <!-- Activities de medición individual -->
        <activity
            android:name=".EntrepiernaActivity"
            android:exported="false" />

        <activity
            android:name=".TroncoActivity"
            android:exported="false" />

        <activity
            android:name=".MusloActivity"
            android:exported="false" />

        <activity
            android:name=".PiernaActivity"
            android:exported="false" />

        <activity
            android:name=".BrazoActivity"
            android:exported="false" />

        <activity
            android:name=".AntebrazoActivity"
            android:exported="false" />

        <!-- Activity de resultados -->
        <activity
            android:name=".ResultadosActivity"
            android:exported="false" />

    </application>

</manifest>